<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sly.water.mapper.AccountMapper">
    <select id="login" parameterType="string" resultType="Account">
        select id,user_name,user_pwd
        from account
        where user_name = #{userName}
    </select>

    <update id="updateAccount" parameterType="Account">
        update account
        <if test="userName != null and userName !=''">
            set user_name = #{userName}
        </if>
        <if test="userPwd != null and userPwd != ''">
            ,user_pwd = #{userPwd}
        </if>
        where id = #{id};
    </update>

</mapper>