<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>员工信息列表</title>

    <!--Bootstrap固定框架-->
    <link rel='stylesheet' th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.css}">
    <link rel='stylesheet' th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap-theme.css}">
    <!--图标库-->
    <link rel='stylesheet' th:href='@{/css/material-design-iconic-font.min.css}'>
    <!--核心样式-->
    <link rel="stylesheet" th:href="@{/css/style.css}">

</head>
<body>

<div id="viewport">

    <!-- Sidebar -->
    <div id="sidebar" th:replace="waterMainMenu::menu"></div>

    <!-- Content -->
    <div id="content">
        <nav class="navbar navbar-default" th:replace="waterMainMenu::nav">

        </nav>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4">
                    <a class="btn btn-primary" th:href="@{/worker/preSaveWorker}">添加员工</a>
                </div>
                <form class="form-inline col-md-8" th:action="@{/worker/searchWorker}" method="get">
                    <div class="form-group">
                        <input type="text" required class="form-control"  name="workerName" placeholder="请输入员工姓名..." >
                    </div>
                    <button type="submit" class="btn btn-danger">搜索</button>
                </form>
                <div class="col-md-12">
                    <table class="table table-hover table-striped">
                        <thead>
                        <tr>
                            <td>送水工编号</td>
                            <td>送水工名称</td>
                            <td>底薪</td>
                            <td>提成</td>
                            <td>头像</td>
                            <td>操作</td>
                        </tr>
                        </thead>
                        <tbody>
                        <!-- 渲染后客户列表-->
                        <tr th:each="worker : ${workerList}">
                            <td th:text="${worker.wid}"></td>
                            <td th:text="${worker.workerName}"></td>
                            <td th:text="${worker.workerSalary}"></td>
                            <td th:text="${worker.workerMoney}"></td>
                            <td th:text="${worker.workerImage}"></td>
                            <td>
                                <a class="glyphicon glyphicon-edit" th:href="@{'/worker/preUpdateWorker/'+${worker.wid}}">修改</a>
                                <a class="glyphicon glyphicon-remove" th:href="@{'/worker/delWorker/'+${worker.wid}}">删除</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


</body>
</html>